TELEGRAM_TOKEN =
ONEEDU_BASE_URL=01.tomorrow-school.ai
PLATFORM_ACCESS_TOKEN=
CHAT_IDS=
TIMEZONE=Asia/Almaty
TEMPLATES_PATH=messages
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_FOLDER_ID=1We4FtPnCri2NpPOTyVvMYs6N4wToHIVE

SHEET_GO_WEEK1=https://docs.google.com/spreadsheets/d/1oxj5S2SgPVN1pKlttJUDlicKCG5FJzyIQYpDaPqc_N4/edit
SHEET_GO_WEEK2=https://docs.google.com/spreadsheets/d/1oxj5S2SgPVN1pKlttJUDlicKCG5FJzyIQYpDaPqc_N4/edit
SHEET_GO_WEEK3=https://docs.google.com/spreadsheets/d/1AV3EHjwhEfsQhSOFGqBTDkILAtr0RFEYoQjPpj5YEVo/edit
SHEET_JS_WEEK1=https://docs.google.com/spreadsheets/d/1ad7yLIrIemKesFbplj_S0oPJPLqKkP1o9_tm2gaKcgA/edit
SHEET_JS_WEEK2=https://docs.google.com/spreadsheets/d/1nnPZnqwikWTXyr_HkU62CzEPkN0oOgtoBmP_3fh_mFI/edit
SHEET_JS_WEEK3=https://docs.google.com/spreadsheets/d/1EM6Ijqi0HVasybffh6lGxbEWOLCylM3IQOmXZbyP2_8/edit
SHEET_AI_WEEK1=https://docs.google.com/spreadsheets/d/11LNwp7Jl-0aHTsNn4rQ_XA7-UT7hrP2ZWTN0Lr50qSM/edit
SHEET_AI_WEEK2=https://docs.google.com/spreadsheets/d/19aZ2_ZPCdzbjZffwYrBt-tFBCpsSO3q_0C3XmPGFAT8/edit